$arrow-height: 6rem;
$arrow-width: 4rem;

// .arrow {
//     display: block;
//     cursor: pointer;
//     height: 6rem;
//     position: relative;
//     transition: transform .1s;
//     width: 4rem;
//     $transition-time: .15s;
    



//     &-top,
//     &-bottom {
//       background-color: #666;
//       height: 4px;
//       left: -5px;
//       position: absolute;
//       top: 50%;
//       width: 100%;
      
//       &:after {
//         background-color: var(--color-white);
//         content: '';
//         height: 100%;
//         position: absolute;
//         top: 0;
//         transition: all $transition-time;
//       }
//     }
    
//     &-top {
//       transform: rotate(45deg);
//       transform-origin: bottom right;
      
//       &:after {
//         left: 100%;
//         right: 0;
//         transition-delay: 0s;
//       }
//     }
    
//     &-bottom {
//       transform: rotate(-45deg);
//       transform-origin: top right;
      
//       &:after {
//         left: 0;
//         right: 100%;
//         transition-delay: $transition-time;
//       }
//     }
    
//     &:hover & {
      
//       &-top:after {
//         left: 0;
//         transition-delay: $transition-time;
//       }
  
//       &-bottom:after {
//         right: 0;
//         transition-delay: 0s;
//       }
//     }
    
//     &:active {
//     //   transform: scale(0.9);
//     }

//     &--prev {

//       & .arrow-top {
//         transform: rotate(-45deg);
//         transform-origin: bottom left;
//       }
          
//       & .arrow-bottom {
//         transform: rotate(45deg);
//         transform-origin: top left;
//       }
//     }

//     &--top {
//       & .arrow-top {
//         transform: rotate(-135deg);
//         transform-origin: bottom right;
//         top: -2px;
//         left: 0px;
//       }
          
//       & .arrow-bottom {
//         transform: rotate(-45deg);
//         transform-origin: bottom right;
//         top: 2px;
//         left: 1px;
//       }
//     }

//     &--bottom {
//       & .arrow-top {
//         transform: rotate(135deg);
//         transform-origin: bottom right;
//         top: -2px;
//         left: 0px;
//       }
          
//       & .arrow-bottom {
//         transform: rotate(45deg);
//         transform-origin: bottom right;
//         top: 2px;
//         left: 1px;
//       }
//     }

//     &--small {
//         width: 2rem;
//         height: 3rem;
//     }

//     &--back {
//         width: 1.5rem;
//         height: 2rem;
//         .arrow-top,
//         .arrow-bottom {
//             background-color: var(--color-white);

//             &:after {
//                 background-color: var(--color-white);
//             }
        
//         }


//     }

//   }




// Up Arrow 2

.arrow {
  // background-color: #111;
  height: 40px;
  width: 40px;
  display: block;
  // border: 1px solid #666;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
  margin: 0 auto;

  &--down {
    transform: rotate(180deg);
  }
  &--left {
    transform: rotate(-90deg);
  }
  &--right {
    transform: rotate(90deg);
  }
  &--left-l {
    transform: rotate(-90deg) scale(1.5);
  }
  &--right-l {
    transform: rotate(90deg) scale(1.5)
  }

  &:hover,
  &:focus {
    transition: all .1s;
    .left-arm:after {
      transform: rotate(-10deg);
    }
    .right-arm:after {
      transform: rotate(10deg);
    }
    .arrow-slide {
      transition: all .4s ease-in-out;
      transform: translateY(200%);
    }
  }
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm,
.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  height: 2px;
  display: block;
  border-radius: 2px;

  &:after {
    content: "";
    background-color: var(--color-white);
    width: 20px;
    height: 2px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: right center;
    z-index: -1;

    .header--invert & {
      background-color: var(--color-black);
    }
  }
}

.left-arm {
  
  transform: rotate(-45deg);
  &:after {
    transform-origin: right center;
  }
}

.right-arm {
  
  transform: rotate(45deg);
  left: 17px;
  &:after {
    transform-origin: left center;

  }
}



 // /Up Arrow 2


