.project {

    &__top {
        margin-bottom: $margin * 2;

        &-media {

            & > * {
                width: 100%;
            }
        }

        &-icon {
            text-align: center;
        }
    }

    &__main {
        margin-top: $margin * 2;
        margin-bottom: $margin * 2;
    }

    &__title {
        text-align: center;
    }

    &__description {
        text-align: center;
        font-size: 2rem;
    }
}