<% var data = {
	page: "index",
}; %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>DIT</title>

</head>
<body class=" " >

	<div class="page" data-router-wrapper>
		
		<section class="page__wrap page--index" data-router-view="index">
	
		<%= _.template(require('./../includes/header.html').default)(data) %>

		<%= _.template(require('./../includes/index.html').default)(data) %>
	
		<%= _.template(require('./../includes/footer.html').default)(data) %>
		
		</section>

	</div>

	<!-- made by birukoff.ru -->
</body>
</html>