<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>DIT</title>

</head>
<body class="page--project" data-router-wrapper>

	<section class="project" data-router-view="project">
		
	<% var data = {
		page: "project",
	}; %>
	<%= _.template(require('./../includes/header.html'))(data) %>

	<%= _.template(require('./../includes/project.html'))(data) %>

	<%= _.template(require('./../includes/footer-inner.html'))(data) %>

	<%= _.template(require('./../includes/footer.html'))(data) %>

	</section>

</body>
</html>